<p id="notice"><%= notice %></p>

<p><%= @achievement.name %></p>
<p><%= @achievement.content %></p>
<%= image_tag @achievement.image.url(:medium) %>

<%= link_to 'Edit', edit_achievement_path(@achievement) %> |
<%= link_to 'Back', achievements_path %>
